/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background: #000028;
  --header-title: #DB00FF;
  --accent-color: #FF0070;
  --block-title: #000028;
  --block-title-background: #FF0070;
  --block-text: #F1B2CE;
  --header-background: url('../images/cover-image-dark.png');
  --display-decoration: initial;
  --theme-button-border: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --page-background: #000028;
    --header-title: #db00ff;
    --accent-color: #ff0070;
    --block-title: #000028;
    --block-title-background: #ff0070;
    --block-text: #f1b2ce;
    --header-background: url("../images/cover-image-dark.png");
    --display-decoration: initial;
    --theme-button-border: rgba(255, 0, 112, 0.4);
  }
}
